.box{
	margin-top: 20px;
	padding: 20px;
	font-family: 'Muli', sans-serif;
}

.left-text{
	text-align: left;
}

.contenedor{

	margin: auto;
	width: 100%;
	padding: 20px;
}

.pad-but{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25%;
}

.by{
	font-family: 'Libre Barcode 39 Text', cursive;
}

.skillbar-bar {
    height: 4px;
    width: 0;
    background: #E58856;
}

.white{
	color: white;
	 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

.shadow{
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.i{
	background-image: url("b.png");
}


.a:hover {
	color: #2C3539;
	text-decoration: none;
}

.w:hover {
	color: white;
	text-decoration: none;
}

.w-shadow{
	color: white;
	 text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.29);
}

 /*No borrar! es el borde par
 la foto.*/

/*.slant {
	top: 0;
	z-index: 1;
	position: absolute;
	border-style: solid;
	border-width: 190px 0 0 30px;
	border-color: rgba(223, 50, 50, 0) transparent transparent blue;
}
*/